#home-container {
    height: 100vh;
  }
  /* Centraliza o ícone dentro do input-group */
  .input-group-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Sidebar fixa e altura total */
  .sidebar {
    width: 220px;
    min-height: calc(100vh - 56px); /* altura da navbar */
  }
  
  .sidebar .nav-link {
    transition: all 0.3s ease; /* transição suave para todas as propriedades */
  }
  
  .sidebar .nav-link:hover {
    background-color: #495057; /* muda o fundo levemente */
    padding-left: 1.5rem;      /* desloca levemente para a direita */
    border-radius: 5px;         /* cantos arredondados */
    color: #ffffff;             /* mantém o texto branco */
  }
  /* Navbar superior */
  .navbar {
    background-color: #ffffff !important; /* cor azul */
    border-bottom: 3px solid #212529;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -2px rgba(0,0,0,0.06);
  }

  .logout-btn {
    border-radius: 8px;
    font-weight: 600;
    border: 3px solid #212529; /* contorno vermelho */
    background-color: transparent;
    color: #212529;
    transition: all 0.2s ease;
    margin: 15px;
    height: 40px;
    width: 130px;
  }
  
  .logout-btn:hover {
    background-color: #212529; /* fundo vermelho ao passar o mouse */
    color: #fff; /* texto branco */
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  }

