#home-container {
  height: 100vh;
}

/* Centraliza ícone dentro do input */
.input-group-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* === SIDEBAR (Desktop) === */
.sidebar {
  width: 220px;
  min-height: calc(100vh - 56px);
}

.sidebar .nav-link {
  transition: all 0.3s ease;
  padding-left: 1rem;
}

.sidebar .nav-link:hover {
  background-color: #495057;
  padding-left: 1.5rem;
  border-radius: 5px;
  color: #ffffff;
}

/* === NAVBAR === */
.navbar {
  background-color: #ffffff !important;
  border-bottom: 3px solid #212529;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -2px rgba(0,0,0,0.06);
}

/* === LOGOUT === */
.logout-btn {
  border-radius: 8px;
  font-weight: 600;
  border: 3px solid #212529;
  background-color: transparent;
  color: #212529;
  transition: all 0.2s ease;
  margin: 15px;
  height: 40px;
  width: 130px;
}

.logout-btn:hover {
  background-color: #212529;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

/* === OFFCANVAS (Mobile) === */
.offcanvas .nav-link {
  transition: all 0.3s ease;
  padding-left: 1rem;
  color: #fff !important;
  border-radius: 5px;
}

.offcanvas .nav-link:hover {
  background-color: #495057;
  padding-left: 1.5rem;
  color: #ffffff !important;
}

/* Espaçamento adicional entre os itens */
.offcanvas .nav-item {
  margin-left: 0.5rem;
}
